*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: peru;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 700px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 15px gray;
    text-align: center;
}

h1{
    margin-bottom: 20px;
}

input{
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    margin-right: 10px;
}

input{
    width: 300px;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 16px;
}

input::placeholder{
    color: white;
}

input:focus{
    outline: none;
}

button{
    padding: 12px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background-color: #333;
}

img{
    width: 250px;
    height: 250px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

p{
    margin-top: 15px;
    font-size: 18px;
}

span{
    color: darkred;
    font-weight: bold;
}

b{
    color: black;
}